{% extends 'user/user_nav.html' %}

{% block content %}

<style>
    a { color: inherit; } 
</style>
    



<div class="page-wrapper">

    <div class="container-fluid">
       
        <div class="row justify-content-center">
            
            <div class="col-lg-4 col-md-12">
                <a href="">
                <div class="white-box analytics-info">
                    <h3 class="box-title">View Tickets</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><a href="{% url 'user_ticket_list' %}"><h1>+</h1></a></li>
                    </ul>
                </div>
            </a>
            </div>
       

            <div class="col-lg-4 col-md-12">
                <a href="">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Add Ticket</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash2"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><a href="{% url 'user_add_ticket' %}"><h1>+</h1></a></li>
                    </ul>
                </div>
            </a>

            </div>
            
            
            
        </div>
        
    </div>
</div>


{% endblock content %}